[submodule "themes/hugo-theme-hello-friend-ng"]
	path = themes/hugo-theme-hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "zigtag.github.io"]
	path = zigtag.github.io
	url = https://github.com/ZigTag/zigtag.github.io.git
	branch = master
